.gameContainer {
}

.inputGroup {
  gap: 4px;
  display: flex;

  input {
    width: 64px;
    height: 64px;
    font-size: 32px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #000;
    vertical-align: middle;
    caret-color: transparent;
  }

  .error {
    border: 1px solid red;
  }
}
