.gameContainer {
  gap: 24px;
  display: flex;
  margin: 0 auto;
  padding: 32px 0;
  align-items: center;
  flex-direction: column;
}

.inputGroup {
  gap: 8px;
  display: flex;
  margin-bottom: 8px;

  input {
    width: 64px;
    height: 64px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    caret-color: transparent;
    border: 1px solid #a6aebf;

    &:focus {
      outline: none;
      border: 2px solid #40a2e3;
    }
  }

  .error {
    border: 2px solid #fdab9e;
  }

  .correct {
    background: #78c841;
  }

  .elsewhere {
    background: #ffcf50;
  }

  .absent {
    background: #a6aebf;
  }

  .filled {
    color: white;
    border: none;
  }
}
