.footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .copy {
    margin-top: 32px;
  }

  .nav {
    gap: 8px;
    display: flex;
    margin: 8px 0 32px;

    a {
      color: #40a2e3;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
